@page "/archetype/{ArchetypeId:int}"
    <header>
        <img src=@imgLink class="weapon-type-icon">
        <h1>@(CurrentArchetype.Name + " " + CurrentArchetype.RoundsPerMinute + "rpm")</h1>
    </header>
    <main>
        <CascadingValue Value="@Buffs">
            <CascadingValue Value="@ArchetypeId" Name="ArchetypeId">
                <BuffsManager @ref=@buffsManager OnChangeBuffs="ChangeBuffHandle" OnShowPerkSummary="@ShowPerkSummary" OnHidePerkSummary="HidePerkSummary"></BuffsManager>
            </CascadingValue>
            <div class="damage-checker">
                <CascadingValue Value="@CombinedBuff">
                    <DamageMenu CurrentArchetype="@CurrentArchetype" IsPvp=true></DamageMenu>
                </CascadingValue>
            </div>
            <div class="damage-checker" id="bonus-damage-checker">
                <CascadingValue Value="@CombinedBuff">
                    <DamageMenu CurrentArchetype="@CurrentArchetype" IsPvp=false></DamageMenu>
                </CascadingValue>
            </div>
        </CascadingValue>
    </main>
    @if (_currentArgs != null)
    {
    <div class="perk-summary" style="top:@(_currentArgs.PageY+_offsetTop)px; left:@(_currentArgs.PageX+_offsetleft)px;visibility:@_perkSummaryVisibility">
            <h4>@_currentArgs.Buff.Name.ToUpper()</h4>
            <p>@_currentArgs.Buff.Summary</p>
        </div>

    }
@code {
    [Parameter]
    public int ArchetypeId { get; set; }

    [Inject]
    BuffSet Buffs{ get; set; }

    BuffsManager? buffsManager;

    private readonly int _offsetTop=-60;
    private readonly int _offsetleft = 20;

    public CombinedBuff? CombinedBuff
    {
        get;set;
    }

    private ShowPerkSummaryArgs? _currentArgs;

    private string _perkSummaryVisibility = "";

    private void ChangeBuffHandle()
    {
        CombinedBuff = buffsManager.combinedBuff;
    }

    private void HidePerkSummary(){
        _perkSummaryVisibility = "hidden";
    }

    private void ShowPerkSummary(ShowPerkSummaryArgs args)
    {
        _perkSummaryVisibility = "";
        _currentArgs = args;
    }
}
