@page "/archetype/{ArchetypeId:int}"

<header>
    <img src=@imgLink class="weapon-type-icon">
    <h1>@(CurrentArchetype.Name+" "+CurrentArchetype.RoundsPerMinute+"rpm")</h1>
</header>
<main>
    <CascadingValue Value="@Buffs">
        <CascadingValue Value="@ArchetypeId" Name="ArchetypeId">
            <BuffsManager @ref=@buffsManager OnChangeBuffs="ChangeBuffHandle"></BuffsManager>
        </CascadingValue>
        <div class="damage-checker">
            <CascadingValue Value="@CombinedBuff">
                <DamageMenu CurrentArchetype="@CurrentArchetype"></DamageMenu>
            </CascadingValue>
        </div>
    </CascadingValue>
</main>

@code {
    [Parameter]
    public int ArchetypeId { get; set; }

    [Inject]
    BuffSet Buffs{ get; set; }

    BuffsManager? buffsManager;

    public CombinedBuff? CombinedBuff
    {
        get;set;
    }

    private void ChangeBuffHandle()
    {
        CombinedBuff = buffsManager.combinedBuff;
    }

}
