@namespace DamageChecker.Components

<div class="add-buffs-menu" style=@addBuffHideStyle>
    <div class="add-buffs-header">
        <h1>ADD BUFFS</h1>
        <div class="search-menu">
            <div class="search-area">
                <button class="search-button" @onclick=HideSuggestMenu>
                    <img id="search-icon" src="css/icons/search.svg" />
                </button>
                <input class="search-text-field" @oninput=@((e)=>FindBuffs(e.Value as string))
                placeholder="SEARCH BUFFS..." />
            </div>
            <div class="@searchSuggestMenuClass">
                @foreach (var suggestedBuff in suggestedBuffs)
                {
                    <button class=@(Buffs.HaveBuff(suggestedBuff)? "suggested-buffs-selected" :"suggested-buffs") 
                        @onclick="()=>ClickBuff(suggestedBuff)">
                        <div class="buff_icon">
                            <img src=@($"css/icons/perks/{suggestedBuff.Name}.png")>
                        </div>
                        @(suggestedBuff.Name.ToUpper())
                    </button>
                }
            </div>
        </div>
        <button class="apply-button" @onclick="OnApplyCallback">APPLY</button>
    </div>
    <div class="add-buffs-main">
        @foreach(BuffSelector selector in buffSelectors)
        {
            <div class="buff_selector">
                <h2 @onclick="()=>HideBuffList(selector)">@selector.Header</h2>
                <div class="buffs-list" style="@selector.Style">
                    @foreach(IStackable buff in selector.Buffs)
                    {
                        <div class=@(Buffs.HaveBuff(buff)? "buff-container-selected" :"buff-container") 
                        @onclick="()=>ClickBuff(buff)" 
                        @onmousemove=@((e)=>OnPerkOver(e,buff)) 
                        @onmouseout=@OnHidePerkSummary>
                            <div class="buff_icon">
                                <img src=@($"css/icons/perks/{buff.Name}.png")>
                            </div>
                            @(buff!=null? buff.Name.ToUpper() : "")
                        </div>
                    }
                </div>
            </div>
        }
    </div>

</div>
