<div class="buff-manager">
	 <h1>DAMAGE BUFFS</h1>
	 @for(int i=0;i<5;i++){
		<div class="buff-container">
			<div class="buff_name">
				<div class="buff_icon">
					<img src="css/icons/perk.svg">
				</div>
				ADRENALINE JUNKIE
			</div>
			<div>
				STACK
				<select name="@i" @bind=@bindValue>
					<option value="1" selected>1x</option>
					@for(int j = 2;j<=3;j++){
						<option value="@j">@(j)x</option>
					}
				</select>
			</div>
			<div>
				DAMAGE BUFF: <span class="buff-percent">15%</span>
			</div>
		</div>
	 }
	<div class="buff-container">
		<div class="buff_name">
			<div class="buff_icon">
				<img src="css/icons/perk.svg">
			</div>
			FRENZY
		</div>
		<div>
			STACK
			<select name="1" @bind=@bindValue>
				<option value="1" selected>1x</option>
				@for (int j = 2; j <= 3; j++)
				{
					<option value="@j">@(j)x</option>
				}
			</select>
		</div>
		<div>
			DAMAGE BUFF: <span class="buff-percent">15%</span>
		</div>
	</div>
	<div class="combined-buff-result">COMBINED BUFF: @combinedBuff %</div>
	<button class="add-buffs-button" @onclick="@OnAddBufsClick"> ADD BUFFS </button>
</div>

@code {
	public string bindValue;
	public double combinedBuff=38;

	[Parameter]
	public EventCallback OnAddBufsClick{ get; set; }
}

