
<div class="damage-menu">
	<div class="mode-switcher">
		<button class=@(!IsPvp? "selected-button" : "not-selected-button") @onclick="@OpenPve">PVE</button>
		<button class=@(IsPvp? "selected-button" : "not-selected-button") @onclick="@OpenPvp">PVP</button>
	</div>
	@if (CurrentArchetype!=null){
		@if (IsImage)
		{
			<DisplayDamage Damage="@CurrentArchetype.ShotDamage" IsPve=@(!IsPvp) @ref=@displayDamage></DisplayDamage>
		}
		else
		{
			<div class="damage-parameter">
				<div class="parameter-header">PRECISION DAMAGE</div>
				<div class="parameter-value">@GetPrecisionDamage()</div>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">BODY DAMAGE</div>
				<div class="parameter-value">@GetBodyDamage()</div>
			</div>
		}
		<div class="pvp-damage-parametres" style=@(IsPvp? "":"display:none;")>
			<div class="damage-parameter-setting">
				<div class="parameter-header">GUARDIAN RESILIANCE</div>
				<select @bind=@Resiliance>
					@for (int i = 0; i <= 10; i++)
					{
						<option value="@i">@(i + "x")</option>
					}
				</select>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">OPTIMAL TTK</div>
				<div class="parameter-value">@GetTTK()</div>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">BULLET TO SHOOT</div>
				<div class="parameter-value">@GetBulletToShoot()</div>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">DPS</div>
				<div class="parameter-value">243</div>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">BODY TTK</div>
				<div class="parameter-value">1.24</div>
			</div>
		</div>
		<div class="pve-damage-parametres" style=@(!IsPvp? "":"display:none;")>
			<div class="damage-parameter-setting">
				<div class="parameter-header">RELOAD SPEED VALUE</div>
				<div class="parameter-setting-value">
					@(GetReloadTime()+" s.")
					</div>
				<input type="number" min="0" @bind="@ReloadValue"/>
			</div>
			<div class="damage-parameter-setting">
				<div class="parameter-header">MAG SIZE</div>
				<input type="number" min="0" step="1" @bind=@MagSize/>
			</div>
			<div class="damage-parameter-setting">
				<div class="parameter-header">TAKING DAMAGE TIME </div>
				<input type="number" step="0.1" min="0" id="taking-damage-time-input" @bind=@TakingDamageTime/>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">SIMPLE DPS</div>
				<div class="parameter-value">@Math.Round(DamageService.GetSimplePveDps(CurrentArchetype,CurrentCombinedBuff),2)</div>
			</div>
			<div class="damage-parameter">
				<div class="parameter-header">RELOAD DPS</div>
				<div class="parameter-value">@GetReloadDps()</div>
			</div>
		</div>
	}
</div>



@code {
	
}
