@using Destiny2DataLibrary.Models

<div class="nav-menu">
    <button class="search-button" id="show_menu_button" @onclick="ToggleNavMenu" style="@buttonDisplayParam">
        <img id="search-icon" src="css/icons/search.svg" />
    </button>
    <div class="search-nav-menu" style="@navMenuDisplayParam">
        <div class="search-area">
            <button class="search-button" @onclick="ToggleNavMenu" style="visibility:hidden">
                <img id="search-icon" src="css/icons/search.svg" />
            </button>
            <input class="search-text-field" @bind-value=@query placeholder="SEARCH WEAPON..." />
        </div>
        <div class="weapon-navigator">
            <div class="weapon-type-list">
                @foreach (WeaponType weaponType in weaponTypes)
                {
                    <button class="weapon-type-button" @onclick="()=>ShowArchetypes(weaponType.Id)">
                        <img src=@($"css/icons/WeaponTypes/{weaponType.Name}.svg") class="weapon-type-icon">
                        @weaponType.Name.ToUpper()
                    </button>
                }
            </div>
            <div class="archetype-list" style="@archetypeDisplayParam">
                @foreach(Archetype archetype in WeaponTypeArchetypes)
                {
                    <button class="weapon-type-button" >
                        <img src=@($"css/icons/WeaponTypes/{archetype.WeaponType.Name}.svg") class="archetype-icon">
                        @archetype.Name.ToUpper()
                    </button>
                }
            </div>
        </div>
    </div>
</div>



@code {

    private string query="";

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private string navMenuDisplayParam = "width:0";
    private string buttonDisplayParam = "";
    private string archetypeDisplayParam = "width:0";

    private void LoadPage(int id){
    }


    private void ToggleNavMenu()
    {
        if (navMenuDisplayParam == "")
        {
            navMenuDisplayParam = "width:0";
            buttonDisplayParam = "";
        }
        else 
        {
            navMenuDisplayParam = "";
            buttonDisplayParam = "";
        }
    }
}
